dist/
dist-newstyle/
.stack-work/
.ghc.environment.*
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
cabal.project.local*
cabal-dev
stack*.yaml.lock
TAGS
.DS_Store
*~
*#
